/* Article-card section */
.article-card {
    padding: 1.9rem;
}

.article-card__wrapper {
    display: flex;
}

.article-card__image {
    flex: 1;
    background: url('../assets/img/drawers.jpg');
    background-size: cover;
    max-width: 285px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.article-card__content {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding: 32px 40px;
    background: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.article-card__heading {
    color: var(--clr-blue-grayish-vdark);
    font-size: 1.5rem;
    letter-spacing: 0.35px;
    margin-bottom: 16px;
}

.article-card__text {
    color: var(--clr-blue-dark);
    margin-bottom: 24px;
}

.article-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-card__author {
    display: flex;
}

.article-card__author-img {
    width: 41px;
    height: 41px;
    margin-right: 17px;
}

.article-card__author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.article-card__author-info {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.article-card__author-name {
    color: var(--clr-blue-grayish-vdark);
}

.article-card__author-date {
    color: var(--clr-blue-grayish);
}

.article-card__share {
    position: relative;
}

.article-card__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: var(--clr-blue-light);
    transition: background 250ms ease-in;
}

.article-card__cta:hover {
    background: var(--clr-blue-dark);
}

.article-card__cta:hover path {
    fill: var(--clr-blue-light);
}

.article-card__options {
    position: absolute;
    display: flex;
    align-items: center;
    top: -250%;
    left: -108px;
    display: flex;
    background: var(--clr-blue-grayish-vdark);
    width: 248px;
    padding: 15px 40px;
    border-radius: 10px;
}

.article-card__options::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: var(--clr-blue-grayish-vdark) transparent;
	border-style: solid;
	border-width: 13px 13px 0px 13px;
}

.article-card__options-text {
    flex: 1;
    color: var(--clr-blue-grayish);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.9rem;
}

.article-card__options-socials {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-card__options-link:hover path{
    fill: var(--clr-blue-light);
}

/* Article-card media queries */
@media (max-width: 1000px) {
    .article-card__wrapper {
        flex-flow: column;
        max-width: 327px;
    }

    .article-card__content {
        padding: 32px 32px 24px 32px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .article-card__heading {
        font-size: 1.2307rem;
    }

    .article-card__image {
        flex: auto;
        max-width: 327px;
        height: 200px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
}