/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Variables */
:root {
--clr-blue-grayish-vdark: hsl(217, 19%, 35%);
--clr-blue-dark: hsl(214, 17%, 51%);
--clr-blue-grayish: hsl(212, 23%, 69%);
--clr-blue-light: hsl(210, 46%, 95%);
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr-blue-light);
    font-family: 'Manrope', sans-serif;
}

/* Utilities */
.container {
    max-width: 730px;
    margin: 0 auto;
}

/* Animations */
@keyframes optionsSlide-desktop {
    0% {
        opacity: 0;
        transform: translateY(50px) scaleX(0); 
    }

    50% {
        opacity: 0.5;
        transform: translate(0) scaleX(0.01);
    }

    100% {
        transform: translate(0) scaleX(1);
        left: -108px;
        opacity: 1;
    }
}
@keyframes optionsHide-desktop {
    0% {
        opacity: 0;
        transform: translateY(50px) scaleX(0); 
    }

    50% {
        opacity: 0.5;
        transform: translate(0) scaleX(0.01);
    }

    100% {
        transform: translate(0) scaleX(1);
        left: -108px;
        opacity: 1;
    }
}

@keyframes optionsSlide-mobile {
    0% {
        opacity: 0;
        transform: scaleX(1) translateY(100px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes optionsHide-mobile {
    0% {
        opacity: 0;
        transform: scaleX(1) translateY(100px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}